.events {
    display: grid;
    grid-template-columns: 1fr;
    margin: 40px 30px 80px 30px;
    gap: 50px;
}

.events div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.events img {
    max-width: 350px;
    max-height: 350px;
}

.events p {
    font-size: 12px;
    margin: 20px 30px;
    max-width: 500px;
}

.events h2 {
    font-size: 20px;
    margin: 10px;
}

.cta-more {
    width: 150px;
    padding: 5px;
    margin-bottom: 40px;
}



