.banner {
    background-image: url("background-images/brain.jpg");
    height: 200px;
    background-size: cover;
    background-position: center;
}

.explore {
    display: grid;
    grid-template-columns: 1fr;
    margin: 30px;
    gap: 40px;
}

.explore div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.explore img {
    max-width: 350px;
    max-height: 350px;
}

.explore p {
    margin: 0px;
    padding: 10px;
}

h2 {
    margin: 0px;
}

.wrapper1,
.wrapper3 {
    background-color: var(--light-green);
    padding: 30px;
}

.wrapper2 {
    background-color:var(--sand);
    padding: 30px;
}
