.banner-index {
    background-image: url("background-images/hero-image.jpg");
    height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
}

.banner-index h1 {
    font-weight: var(--font-weight-light);
    background-color: transparent;
    color: var(--light-grey);
    font-size: 20px;
    position: absolute;
    right: 4%;
    top: 18%;
}

.banner-index p {
    color: var(--light-grey);
    font-size: 8px;
    position: absolute;
    right: 8%;
    top: 32%;
    width: 160px;
}

.cta-index {
    font-size: 10px;
    padding: 5px 12px;
    position: absolute;
    right: 18%;
    top: 50%;
}

.index {
    display: grid;
    grid-template-columns: 1fr;
    margin: 40px;
}

.index div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.index p {
    font-size: 12px;
    padding: 40px;
    max-width: 500px;
}

.index img {
    margin: 20px;
    width: 200px;
}

.light-green {
    background-color: var(--light-green);
}

.sand {
    background-color: var(--sand);
}







