@media (min-width: 700px){
    .banner-index h1 {
        font-size: 28px;
        right: 10%;
        top: 18%;
    }
    
    .banner-index p {
        font-size: 12px;
        right: 10%;
        top: 35%;
        width: 250px;
    }
    
    .cta-index {
        font-size: 14px;
        padding: 7px 20px;
        right: 18%;
        top: 60%;
    }
    
    .explore img,
    .events img {
        max-width: 500px;
        max-height: 500px;
    }

    h1 {
        font-size: 24px;
    }
    
    .explore h2,
    .events h2 {
        font-size: 20px;
    }

    .explore p,
    .events p {
        font-size: 14px;
    }

    .visit {
        grid-template-columns: repeat(4, 1fr);
        margin: 40px;
    }

    .get-involved {
        grid-template-columns: 1fr 1fr;
        margin: 40px;
        gap: 40px;
    }

    .mammoth-image {
        max-width: 600px;
    }

    .newsletter {
        margin: 0px;
    }
}

@media (min-width: 1000px){
    header {
        font-size: 1.5em;
    }

    nav {
        position: static;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-right: 20px;
    }

    nav a:hover {
        background-color: transparent;
        font-weight: bold;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    }

    .bars-icon {
        display: none;
    }

    nav .fa-magnifying-glass {
        display: block;
    }

    .breadcrumb {
        font-size: 16px;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 80px;
    }

    .logo-small {
        display: flex;
        height: 60px;
        padding: 10px 50px;
    }

    footer ul {
        font-size: 12px;
        align-items: flex-end;
    }

    footer .socials {
        padding: 10px 50px
    }

    footer .socials i {
        font-size: 1.5em; 
    }

    .banner-index {
        height: 800px;
        background-size: cover;
        background-position: center;
    }
    
    .banner-index h1 {
        font-size: 56px;
        right: 8%;
        top: 20%;
    }
    
    .banner-index p {
        font-size: 24px;
        right: 7%;
        top: 30%;
        width: 500px;
    }
    
    .cta-index {
        font-size: 20px;
        padding: 10px 25px;
        right: 18%;
        top: 48%;
    }

    .banner {
        height: 540px;
    }

    h1 {
        font-size: 32px;
        font-weight: var(--font-weight-medium);
    }

    .index,
    .events,
    .explore,
    .exhibitions {
        grid-template-columns: repeat(2, 1fr)
    }

    .index p {
        font-size: 16px;
    }

    .index img {
        width: 300px;
    }

    .index div:nth-child(1) {
        order: 1;
    }
    
    .index div:nth-child(2) {
        order: 2;
    }
    
    .index div:nth-child(3) {
        order: 4;
    }

    .index div:nth-child(4) {
        order: 3;
    }

    .explore {
        margin: 30px;
        gap: 40px;
    }
    
    .explore img {
        max-width: 380px;
        max-height: 380px;
    }
    
    .explore p {
        font-size: 12px;
    }
    
    h2 {
        font-size: 16px;
        margin: 0px;
    }

    .wrapper3 {
        background-color: var(--sand);
    }

    .explore div:nth-child(1) {
        order: 3;
    }
    
    .explore div:nth-child(2) {
        order: 1;
    }
    
    .explore div:nth-child(3) {
        order: 2;
    }

    .explore div:nth-child(4) {
        order: 4;
    }

    .explore div:nth-child(5) {
        order: 6;
    }

    .explore div:nth-child(6) {
        order: 5;
    }

    .exhibitions {
        width: 400px;
        gap: 100px;
        margin: 60px
    }
    
    .exhibitions img {
        width: 400px;
    }

    .visit p {
        font-size: 14;
    }

    .mammoth-image {
        max-width: 750px;
    }
}

@media (min-width: 1460px){
    .exhibitions {
        grid-template-columns: repeat(3, 1fr);
    }
}
