.visit {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 30px;
    gap: 30px;
}

.ball img {
    width: 350px;
    margin: 10px 20px;
}

.ball {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.map {
    grid-column: span 2;
}


h2 {
    background-color: var(--light-grey);
    color: var(--dark-grey);
    padding: 20px;
    margin: 0px;
    display: flex;
    justify-content: center;
}

iframe {
    width: 350px;
    height: 200px;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.mammoth {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.mammoth-image {
    max-width: 400px;
}

.get-involved {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    margin: 30px;
    gap: 10px;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 360px;
    background-color: var(--sand);
    border: 0.5px solid var(--dark-grey);
    border-radius: 30px;
    margin: 40px;
}

.newsletter h3 {
    margin: 30px;
}

.newsletter p {
    font-size: 12px;
    margin: 0px 70px;
}

input {
    border: 0.5px solid #D9D9D9;
    border-radius: 30px;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 10px;
    color: var(--dark-grey);
    text-align: center;
}

input::placeholder {
    color: #D9D9D9;
}

.cta-submit {
    width: 100px;
    padding: 5px;
    margin-bottom: 40px;
    text-align: center;
    font-family: var(--font-primary);
    font-weight: var(--font-weight-medium);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}











